<!DOCTYPE html>
<html lang="en">
    <head>
         <title>Healthy Singapore</title>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=Edge">
         <meta name="description" content="">
         <meta name="keywords" content="">
         <meta name="author" content="">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
         <link rel="stylesheet" href="bootstrap.min.css">
         <link rel="stylesheet" href="aos.css">
         <link rel="stylesheet" href="tooplate-gymso-style.css">
    </head>
    <body data-spy="scroll" data-target="#navbarNav" data-offset="50" id=workoutpage>
        <!-- MENU BAR -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html">Healthy Singapore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <%=link_to 'Home', "/clientdashboard/index", class:"nav-link smoothScroll"%>
                        </li>
                        <li class="nav-item">
                            <%=link_to 'Workouts', "/workouts", class:"nav-link smoothScroll" %>
                        </li>
                        <li class="nav-item">
                            <%=link_to 'Calculator', "/calculators/index", class:"nav-link smoothScroll"%>
                        </li>
                        <li class="nav-item">
                            <a href="#schedule" class="nav-link smoothScroll">Button4</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link smoothScroll">Account</a>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Logout', "/sessions/destroy", id: "weblogout", class: "nav-link smoothScroll"%>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="bg-overlay"></div>
        <div id=workoutcontents>
            <%= form_with scope: :goal, url: clientdashboard_path, local: true do |form| %>
                <% if @goal.errors.any? %>
                    <div id="error_explanation">
                        <h2>
                            <%= pluralize(@goal.errors.count, "error") %> prohibited
                            this workout from being saved:
                        </h2>
                        <ul>
                            <% @goal.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <h1>New Workout</h1>
                <%= form.label :title, 'Goal Title'%><br>
                <%= form.text_field :title %><br>
                <%= form.label :desc, 'Goal Description' %><br>
                <%= form.text_area :desc %><br>
                <%= form.submit class: "button"%>
                <%= link_to 'Cancel', clientdashboard_path, class: "button" %>
            <% end %>
        </div>
    </body>
</html> 